__pycache__/
*.pyc
.venv/
.env
*.db
*.sqlite
node_modules/
.next/
android-cn/build/
android-cn/.dart_tool/
android-cn/.gradle/
android-cn/android/.gradle/
ios-cn/build/
ios-cn/Pods/
ios-cn/DerivedData/
android-global/build/
android-global/.dart_tool/
ios-global/build/
ios-global/Pods/
.DS_Store
